<div class="alert alert-block" style="border: 1px solid #FFB300;background-color:#F9FBE7;">
<font size="3em" style="font-weight:bold;color:#3f8dbf;">탐색적 데이터 분석 (데이터 이해와 시각화 기법 추가)</font><br>
1. 데이터의 출처와 주제에 대해 이해 <br>
2. 데이터의 크기 확인 <br>
    3. <b>데이터 구성 요소(feature)의 속성(특징) 확인</b> <br>
</div>

### [ 1. 데이터 분석을 위한 '위치 추정' 과 '범위 추정' ]

탐색적 데이터 분석의 STEP 3. feature 분석을 위한 기본 탐색
1. <b>위치추정</b> : 방대한 데이터의 대표값을 구해서, 해당 feature의 일종의 요약 정보를 도출
    - 보통은 <b>평균</b>을 사용한다. ( 하지만, 평균이 가장 좋은 대표값이 아닌 경우도 많다. )




2. <b>변이추정</b> : 방대한 데이터의 분포를 알아내어, 해당 feature의 일종의 요약 정보를 도출
    - <b>표준편차</b> 와 <b>분산</b>이 대표적인 분포값에 해당한다.

#### (1) 위치추정

#### 평균 (mean)
- 모든 값을 갯수로 나눈 값

#### 가중 평균 (weighted mean)
- 데이터값($x_i$) X 가중치($w_i$) 의 총 합을 다시 가중치($w_i$)의 총합으로 나눈 것
- 예: 여러 기기로부터 가져온 데이터 중, 특정 기기는 신뢰도가 떨어질 경우, 해당 기기로부터 나온 데이터에는 가중치를 낮게 줌

#### 중간값 (median) (가중 중간값도 가능)
- 데이터를 정렬한 후 중간에 위치한 값을 취함
- 평균은 특이값(outlier)에 큰 영향을 받으므로, 특이값에 큰 영향을 받지 않도록 중간값을 활용할 수 있음

#### 절사평균 (trimmed mean)
- 데이터를 <b>정렬</b>한 후, 양끝에서 일정 개수의 값들을 빼고, 남은 데이터를 기반으로 평균을 계산
- 즉, 특잇값을 평균을 구할 때 제외하는 것임


> (!!)EDA 에서는 중간값(또는 중앙값이라고도 불리움)을 평균보다 중요하게 사용 (중간값은 특잇값의 영향을 받지 않기 때문임)

#### (2) 변이추정

#### 분산(variance)
- 평균과 각 데이터간의 차를 제곱한 값들의 합을 데이터 갯수로 나눈 값


$$ \begin{align}
\sigma^2 = \dfrac{\sum_{i = 1}^{N} (x_i - \mu)^2}{N}
\end{align} $$

- $ \sigma^2 $ : 모분산 (깊게 들어가면 샘플분산은 n - 1 로 나누지만, 분산의 형태만 간략히 참고로 알아두기로 함)
- $ \mu $ : 평균
- $ N $ : 데이터 갯수
- $ x_i $ : i 번째 데이터

#### 표준편차(standard deviation)
- 분산은 수치가 너무 커서, 분산의 제곱근 (루트를 씌운 값)
- $ \sigma $ : 모표준편차 (깊게 들어가면 샘플표준편차는 샘플분산이 n 이 아닌, n - 1 로 나눈 값이므로 이를 제곱근한 값)

In [2]:
import pandas as pd

df = pd.DataFrame({
    'A' : [1, 2, 3, 4, 5, 6],
    'B' : [1, 2, 3, 4, 5, 100]
    })

df

   A    B
0  1    1
1  2    2
2  3    3
3  4    4
4  5    5
5  6  100

- 이때, describe() 함수를 통해서 데이터프레임의 평균, 표준편차, 중간값을 확인 할 수 있다.


    - 평균 : mean
    - 표준편차 : std
    - 중간값 : 50%  (중간값은 행이 짝수 일 경우 50%위치에서의 앞과뒤를 더한뒤 2를 나눈값이다.)

In [3]:
df.describe()

              A           B
count  6.000000    6.000000
mean   3.500000   19.166667
std    1.870829   39.625329
min    1.000000    1.000000
25%    2.250000    2.250000
50%    3.500000    3.500000
75%    4.750000    4.750000
max    6.000000  100.000000

### [ 2. 더 빠른 분석을 위한 데이터 분류 이해 ]
- 데이터를 분석, 시각화, 예측하는 전반적인 과정에서 데이터에 대한 큰 그림을 이해하는 것이 도움이 된다.


#### ※ 데이터는 크게 "수치형", "범주형" 데이터로 나눌 수 있다.


<b>1. 수치형 데이터</b>
- 연속(continuous) 데이터 : 특정한 범위 안에 어떤 값(정수와 <b>부동 소수점</b>)이든 가질 수 잇는 데이터
- 이산(discrete) 데이터 : 횟수와 같은 <b>정수</b>만 가질 수 있는 데이터

<b>2. 정수형 데이터</b>
- 명목(nominal) 데이터 : 카테고리, 타입, 항목등 데이터 분류를 위해 이미 정해진 값이 있는 데이터, 데이터가 가질 수 있는 값을 수준(levels) 라고 부른다.
- 이진(binary) 데이터 : True/False, 0/1과 같이 이미 정해진 두 값만 있는 데이터
- 순서형(ordinary) 데이터 : 이미 정해진 값 사이의 순서 관계가 있는 데이터 

ex1) 매우불만(1) ~ 매우만족(5)와 같이 분류된 값 사이에 순서가 있는 경우 - 순서형 데이터


ex2) 1반(1), 2반(2), 3반(3)을 나타내는 데이터 - 명목형 데이터

### [ 3. 수치형 데이터의 탐색 ]

1. 다섯 수치 요약 (5 number summary) 확인하기
   - 최소값(minimum), 제1사분위수, 중간값(mediam)=제2사분위수, 제3사분위수, 최대값(maximum) 확인하기
   - 분위수(quartile)
     - 자료 크기 순서에 따른 위치값(경계값)
   - EDA 에서는 사분위수를 사용
     - Q1: 제1사분위수 (25%에 해당하는 값)
     - Q2: 제2사분위수 (50%에 해당하는 값, 중간값)
     - Q3: 제3사분위수 (75%에 해당하는 값)
     - Q4: 제4사분위수 (100%에 해당하는 값, 최대값)

In [5]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.rand(10,2), columns = ['A', 'B'])
df

          A         B
0  0.001162  0.650717
1  0.078170  0.287418
2  0.398985  0.697740
3  0.910676  0.774274
4  0.843301  0.082800
5  0.531896  0.267647
6  0.098092  0.542766
7  0.164255  0.883577
8  0.151765  0.525144
9  0.120108  0.676554

- describe()함수를 통해서 최소값, 제1,2,3 사분위수, 최대값 모두 확인 가능하다.

In [6]:
df.describe()

               A          B
count  10.000000  10.000000
mean    0.329841   0.538864
std     0.329108   0.252969
min     0.001162   0.082800
25%     0.103596   0.346849
50%     0.158010   0.596741
75%     0.498668   0.692444
max     0.910676   0.883577